.simple-slider .swiper-slide {
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  padding: 0;
  /*width: 50px;*/
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height: 360px;
  }
}